.DS_Store
*/.DS_Store
/.DS_Store
CricZodiac/android/app/build/outputs/apk/debug/app-debug.apk
CricZodiac/android/app/build/outputs/apk/debug/app-debug.apk
CricZodiac/android/app/build/outputs/apk/debug/app-debug.apk
CricZodiac/android/app/build/outputs/apk/debug/app-debug.apk
CricZodiac/android/app/build/outputs/apk/debug/app-debug.apk
